Repository threefoldtech/tfgrid-sdk-ts, pull requests merged in 2023-05, with the labels that each got.

#202 Fix deployed list
  packages/weblets/src/elements/DeployedList/DeployedList.wc.svelte
  packages/weblets/src/types/deployedList.ts
Labels: tfgrid_weblets

#208 refactor publish workflow
  .github/workflows/publish.yml
  packages/grid_client/package.json
  packages/grid_http_server/package.json
  packages/grid_rmb_server/package.json
  packages/rmb_direct_client/package.json
  packages/rmb_peer_client/package.json
  packages/rmb_peer_server/package.json
Labels: rmb_sdk_ts

#210 Fix deployments merge to exclude ones with public ips
  packages/grid_client/src/high_level/twinDeploymentHandler.ts
Labels: grid_client

#211 enhance farm details UI
  packages/dashboard/src/portal/views/Farms.vue
Labels: tfgrid_dashboard

#246 Update validation logic for the node filter
  packages/dashboard/src/explorer/utils/validations.ts
Labels: dashboard

#248 Use the statistics endpoint to get nodes used resources.
  packages/dashboard/src/explorer/components/DetailsV2.vue
  packages/dashboard/src/explorer/components/NodeUsedResources.vue
  packages/dashboard/src/explorer/graphql/api.ts
Labels: dashboard

#351 Fix solutions flavors
  packages/playground/src/components/caprover_worker.vue
  packages/playground/src/components/select_solution_flavor.vue
  packages/playground/src/weblets/tf_casperlabs.vue
  packages/playground/src/weblets/tf_discourse.vue
  packages/playground/src/weblets/tf_funkwhale.vue
  packages/playground/src/weblets/tf_mattermost.vue
  packages/playground/src/weblets/tf_owncloud.vue
  packages/playground/src/weblets/tf_subsquid.vue
  packages/playground/src/weblets/tf_taiga.vue
  packages/playground/src/weblets/tf_umbrel.vue
  packages/playground/src/weblets/tf_wordpress.vue
Labels: playground

#352 Fix deploy solutions with gw
  packages/playground/src/types/index.ts
Labels: playground

#363 Fix deleting k8s workers and machines
  packages/grid_client/src/high_level/base.ts
  packages/grid_client/src/high_level/twinDeploymentHandler.ts
Labels: grid_client

#362 change deployment cost UI
  packages/playground/src/components/weblet_layout.vue
Labels: playground

#365 Fix saving networks keys in case more than one node is used
  packages/grid_client/src/high_level/twinDeploymentHandler.ts
Labels: grid_client

#360 Fix deleting k8s & workers
  packages/playground/src/components/manage_k8s_worker_dialog.vue
  packages/playground/src/utils/delete_deployment.ts
  packages/playground/src/weblets/tf_deployment_list.vue
Labels: playground

#354 Improve tfchain wallet connector
  packages/playground/package.json
  packages/playground/src/App.vue
  packages/playground/src/components/connect_wallet_landing.vue
  packages/playground/src/components/weblet_layout.vue
  packages/playground/src/utils/grid.ts
  packages/playground/src/weblets/profile_manager.vue
  yarn.lock
Labels: playground

#374 Fix getting disk size in vms
  packages/grid_client/src/modules/base.ts
Labels: grid_client

#253 Add deposit listener
  packages/dashboard/package.json
  packages/dashboard/src/portal/components/DepositDialog.vue
  packages/dashboard/src/portal/views/Swap.vue
Labels: dashboard

#389 add presearch filter
  packages/playground/src/components/select_farm.vue
  packages/playground/src/utils/get_farms.ts
  packages/playground/src/weblets/tf_presearch.vue
Labels: playground

#382 Edit playground docs
  packages/playground/README.md
  packages/playground/docs/getting_started.md
Labels: playground

#379 Don't disconnect after each connection got opened on the tfhchain module
  packages/grid_client/package.json
  packages/grid_client/scripts/create_account.ts
  packages/grid_client/src/modules/tfchain.ts
  packages/grid_client/src/storage/backend.ts
  yarn.lock
Labels: grid_client

#357 Improve deployment details
  packages/playground/src/components/deployment_data_dialog.vue
  packages/playground/src/components/weblet_layout.vue
  packages/playground/src/constants/deployment_list.ts
  packages/playground/src/constants/index.ts
  packages/playground/src/weblets/full_vm.vue
  packages/playground/src/weblets/micro_vm.vue
  packages/playground/src/weblets/tf_algorand.vue
  packages/playground/src/weblets/tf_caprover.vue
  packages/playground/src/weblets/tf_casperlabs.vue
  packages/playground/src/weblets/tf_deployment_list.vue
  packages/playground/src/weblets/tf_discourse.vue
  packages/playground/src/weblets/tf_funkwhale.vue
  packages/playground/src/weblets/tf_kubernetes.vue
  packages/playground/src/weblets/tf_mattermost.vue
  packages/playground/src/weblets/tf_node_pilot.vue
  packages/playground/src/weblets/tf_owncloud.vue
  packages/playground/src/weblets/tf_peertube.vue
  packages/playground/src/weblets/tf_presearch.vue
  packages/playground/src/weblets/tf_subsquid.vue
  packages/playground/src/weblets/tf_taiga.vue
  packages/playground/src/weblets/tf_umbrel.vue
  packages/playground/src/weblets/tf_wordpress.vue
Labels: playground

#425 add new playground link
  packages/dashboard/public/config.js
  packages/dashboard/scripts/build-env.sh
  packages/dashboard/src/Dashboard.vue
  packages/dashboard/src/shims-tsx.d.ts
Labels: dashboard

#430 Fix deployment order in case of adding instance to the deployment
  packages/grid_client/src/modules/base.ts
Labels: grid_client
