Repository threefoldtech/tfgrid-sdk-ts, pull requests merged in 2023-12, with the labels that each got.

#1207 Manual node Id selection
  packages/grid_client/src/primitives/nodes.ts
  packages/playground/src/components/caprover_worker.vue
  packages/playground/src/components/input_validator.vue
  packages/playground/src/components/k8s_worker.vue
  packages/playground/src/components/node_selection.vue
  packages/playground/src/components/select_farm.vue
  packages/playground/src/components/select_farm_manager.vue
  packages/playground/src/components/select_node.vue
  packages/playground/src/utils/filter_nodes.ts
  packages/playground/src/utils/types.ts
  packages/playground/src/weblets/full_vm.vue
  packages/playground/src/weblets/micro_vm.vue
  packages/playground/src/weblets/tf_algorand.vue
  packages/playground/src/weblets/tf_casperlabs.vue
  packages/playground/src/weblets/tf_discourse.vue
  packages/playground/src/weblets/tf_funkwhale.vue
  packages/playground/src/weblets/tf_mattermost.vue
  packages/playground/src/weblets/tf_node_pilot.vue
  packages/playground/src/weblets/tf_owncloud.vue
  packages/playground/src/weblets/tf_peertube.vue
  packages/playground/src/weblets/tf_presearch.vue
  packages/playground/src/weblets/tf_subsquid.vue
  packages/playground/src/weblets/tf_taiga.vue
  packages/playground/src/weblets/tf_umbrel.vue
  packages/playground/src/weblets/tf_wordpress.vue
Labels: type_feature, playground

#1650 replace public ip field title in farm filters
  packages/playground/src/utils/filter_farms.ts
Labels: playground

#1647 handle no error message in response
  packages/grid_client/src/helpers/requests.ts
Labels: grid_client

#1675 [Dashboard ]fix getting some of the user farms not all
  packages/playground/src/dashboard/components/user_farms.vue
Labels: playground

#1704 feat: Improve loading page
  packages/playground/index.html
  packages/playground/public/loader/loader.css
  packages/playground/public/loader/loader.js
  packages/playground/src/App.vue
  packages/playground/src/global-components.d.ts
Labels: type_bug, playground

#1680 Development 313 farm enhancement
  packages/playground/src/components/node_details_cards/card_details.vue
  packages/playground/src/dashboard/components/NodeMintingDetails.vue
  packages/playground/src/dashboard/components/add_ip.vue
  packages/playground/src/dashboard/components/create_farm.vue
  packages/playground/src/dashboard/components/dedicated_nodes_table.vue
  packages/playground/src/dashboard/components/node_details.vue
  packages/playground/src/dashboard/components/public_config.vue
  packages/playground/src/dashboard/components/public_ips_table.vue
  packages/playground/src/dashboard/components/reserve_action_btn.vue
  packages/playground/src/dashboard/components/set_extra_fee.vue
  packages/playground/src/dashboard/components/user_farms.vue
  packages/playground/src/dashboard/components/user_nodes.vue
  packages/playground/src/dashboard/farms_view.vue
Labels: playground

#1795 Development delete keys error
  packages/grid_client/src/modules/contracts.ts
  packages/playground/src/components/contracts_list/contracts_table.vue
  packages/types/src/errors/base_error.ts
Labels: playground

#1816 change fees tooltip
  packages/playground/src/dashboard/transfer_view.vue
Labels: playground

#1810 Enhance performance of workloads validating
  packages/grid_client/src/high_level/twinDeploymentHandler.ts
Labels: grid_client
