Repository threefoldtech/tfgrid-sdk-ts, pull requests merged in 2023-10, with the labels that each got.

#1139 Add dao to playground
  packages/grid_client/src/modules/models.ts
  packages/grid_client/src/primitives/nodes.ts
  packages/gridproxy_client/src/builders/gateways.ts
  packages/playground/src/portal/dao_view.vue
  packages/playground/src/router/index.ts
  packages/tfchain_client/src/client.ts
  packages/tfchain_client/src/dao.ts
Labels: playground

#1197 add a node to network
  packages/grid_client/scripts/add_node_to_network.ts
  packages/grid_client/scripts/get_network_config.ts
  packages/grid_client/src/high_level/models.ts
  packages/grid_client/src/high_level/network.ts
  packages/grid_client/src/high_level/twinDeploymentHandler.ts
  packages/grid_client/src/modules/models.ts
  packages/grid_client/src/modules/networks.ts
Labels: grid_client

#1238 Expose all and filter methods on the nodes module to list/filter all nodes
  packages/grid_client/src/clients/tf-grid/contracts.ts
  packages/grid_client/src/modules/models.ts
  packages/grid_client/src/modules/nodes.ts
  packages/grid_client/src/primitives/nodes.ts
Labels: grid_client

#1233 Fix Bug in pricing calculator
  packages/playground/src/calculator/resource_pricing.vue
Labels: playground

#1180 Dedicated Nodes in vue3
  packages/grid_client/src/modules/calculator.ts
  packages/grid_client/src/modules/contracts.ts
  packages/grid_client/src/modules/models.ts
  packages/gridproxy_client/src/modules/gateways.ts
  packages/playground/src/App.vue
  packages/playground/src/explorer/utils/types.ts
  packages/playground/src/portal/components/dedicated_nodes_table.vue
  packages/playground/src/portal/components/node_details.vue
  packages/playground/src/portal/components/reserve_action_btn.vue
  packages/playground/src/portal/dedicated_nodes_view.vue
  packages/playground/src/router/index.ts
  packages/playground/src/utils/filter_nodes.ts
  packages/playground/src/utils/helpers.ts
  packages/tfchain_client/src/contracts.ts
Labels: playground

#1232 adding grid services link
  packages/playground/src/App.vue
Labels: type_feature, playground

#1165 Dev 313 add dao popup
  packages/playground/src/portal/twin_view.vue
  packages/tfchain_client/src/client.ts
Labels: playground

#1215 Implement manage gateways in playground
  packages/grid_client/src/modules/base.ts
  packages/playground/src/components/domain_name.vue
  packages/playground/src/components/list_table.vue
  packages/playground/src/components/manage_gateway_dialog.vue
  packages/playground/src/components/vm_deployment_table.vue
  packages/playground/src/components/weblet_layout.vue
  packages/playground/src/utils/gateway.ts
  packages/playground/src/utils/load_deployment.ts
  packages/playground/src/weblets/freeflow.vue
  packages/playground/src/weblets/full_vm.vue
  packages/playground/src/weblets/micro_vm.vue
  packages/playground/src/weblets/tf_algorand.vue
  packages/playground/src/weblets/tf_caprover.vue
  packages/playground/src/weblets/tf_casperlabs.vue
  packages/playground/src/weblets/tf_deployment_list.vue
  packages/playground/src/weblets/tf_discourse.vue
  packages/playground/src/weblets/tf_funkwhale.vue
  packages/playground/src/weblets/tf_kubernetes.vue
  packages/playground/src/weblets/tf_mattermost.vue
  packages/playground/src/weblets/tf_nextcloud.vue
  packages/playground/src/weblets/tf_node_pilot.vue
  packages/playground/src/weblets/tf_owncloud.vue
  packages/playground/src/weblets/tf_peertube.vue
  packages/playground/src/weblets/tf_presearch.vue
  packages/playground/src/weblets/tf_subsquid.vue
  packages/playground/src/weblets/tf_taiga.vue
  packages/playground/src/weblets/tf_umbrel.vue
  packages/playground/src/weblets/tf_wordpress.vue
Labels: type_feature, playground

#1247 Development gridnightly update
  .github/workflows/grid_client_nightly.yml
Labels: grid_client

#1250 Add background color to light mode
  packages/playground/src/plugins/vuetify.ts
Labels: playground

#1255 Development 313 Gql contracts interface
  packages/grid_client/src/clients/tf-grid/contracts.ts
  packages/grid_client/src/modules/contracts.ts
Labels: grid_client

#1259 Add Destination relay in error msg
  packages/rmb_direct_client/lib/client.ts
Labels: playground

#1248 Show failed deployment names in listing table
  packages/playground/src/components/k8s_deployment_table.vue
  packages/playground/src/components/vm_deployment_table.vue
  packages/playground/src/utils/load_deployment.ts
Labels: playground

#1239 Development 313 offline nodes notifacation
  packages/playground/src/App.vue
  packages/playground/src/components/tf_notification.vue
  packages/playground/src/main.ts
  packages/playground/src/utils/custom_toast.ts
  packages/playground/src/utils/get_offline_nodes.ts
Labels: playground

#1242 loading doesn't stop if the node is not responding
  packages/gridproxy_client/src/builders/abstract_builder.ts
  packages/playground/src/explorer/components/node_details.vue
  packages/playground/src/explorer/components/node_resources_charts.vue
  packages/playground/src/explorer/utils/helpers.ts
Labels: playground, grid_proxy_client

#1273 updated the return type of the pricing calculator
  packages/playground/src/calculator/resource_pricing.vue
Labels: type_bug, playground

#1279 Add delete gateways from vm/fvm
  packages/playground/src/components/manage_gateway_dialog.vue
  packages/playground/src/utils/delete_deployment.ts
  packages/playground/src/weblets/tf_deployment_list.vue
Labels: type_feature, playground

#1298 fix the none package condition
  packages/playground/src/calculator/resource_pricing.vue
Labels: type_bug, playground

#1234 Stats website in vue3
  packages/gridproxy_client/src/builders/stats.ts
  packages/new_stats/.gitignore
  packages/new_stats/README.md
  packages/new_stats/index.html
  packages/new_stats/package.json
  packages/new_stats/public/favicon.png
  packages/new_stats/src/App.vue
  packages/new_stats/src/components/network_filter.vue
  packages/new_stats/src/components/statistics_card.vue
  packages/new_stats/src/components/stats_table.vue
  packages/new_stats/src/main.ts
  packages/new_stats/src/plugins/vuetify.ts
  packages/new_stats/src/types/index.ts
  packages/new_stats/src/utils/stats.ts
  packages/new_stats/src/utils/toTeraOrGegaOrPeta.ts
  packages/new_stats/src/views/statistics.vue
  packages/new_stats/tsconfig.app.json
  packages/new_stats/tsconfig.json
  packages/new_stats/tsconfig.node.json
  packages/new_stats/tsconfig.vitest.json
  packages/new_stats/vite.config.ts
  packages/new_stats/vitest.config.ts
  yarn.lock
Labels: stats

#1288 Contract view: add node details
  packages/playground/package.json
  packages/playground/src/clients/index.ts
  packages/playground/src/components/select_country.vue
  packages/playground/src/weblets/tf_contracts_list.vue
  yarn.lock
Labels: playground

#1268 Development 313 failed deployments fix
  packages/playground/src/components/k8s_deployment_table.vue
  packages/playground/src/components/vm_deployment_table.vue
Labels: type_bug, playground

#1289 Mass deployments script/workflow
  .github/workflows/mass_deployments.yml
  packages/grid_client/scripts/mass_deployments.ts
  packages/grid_client/src/modules/models.ts
  packages/grid_client/src/primitives/nodes.ts
Labels: type_feature, grid_client

#1316 Fix migrating
  packages/grid_client/src/modules/base.ts
  packages/playground/src/utils/gateway.ts
  packages/playground/src/utils/load_deployment.ts
  packages/playground/src/utils/migration.ts
Labels: type_feature, grid_client, playground

#1297 Support offline node contract notification on `mainnet`
  packages/grid_client/src/clients/tf-grid/contracts.ts
  packages/grid_client/src/modules/contracts.ts
  packages/grid_client/src/modules/models.ts
  packages/grid_client/src/modules/nodes.ts
  packages/grid_client/src/primitives/nodes.ts
  packages/playground/src/App.vue
  packages/playground/src/components/mosha_toast/offline_nodes_toast.vue
  packages/playground/src/components/tf_notification.vue
  packages/playground/src/main.ts
  packages/playground/src/utils/custom_toast.ts
  packages/playground/src/utils/get_nodes.ts
Labels: playground
