Repository threefoldtech/tfgrid-sdk-ts, pull requests merged in 2023-11, with the labels that each got.

#1330 Handle gracePeriod state while migrating contracts
  packages/playground/src/utils/migration.ts
Labels: priority_critical, type_bug, playground

#1331 change loading contract details error ux
  packages/playground/src/weblets/tf_contracts_list.vue
Labels: playground

#1329 Adding validation for v2 flist
  packages/playground/src/components/select_vm_image.vue
Labels: type_feature, playground

#1336 fix deploy button enabled while node is node validated
  packages/grid_client/src/clients/rmb/client.ts
  packages/playground/src/components/select_node.vue
Labels: playground

#1367 hotfix: add cropping for fromkey/tokey while moving kvstore key's value
  packages/grid_client/src/storage/tfkvstore.ts
  packages/grid_client/src/storage/utils.ts
Labels: type_bug

#1321 add loading page
  packages/playground/index.html
  packages/playground/src/App.vue
Labels: type_feature, playground

#1374 fix nodes field infinite loading
  packages/playground/src/components/select_node.vue
Labels: type_bug, playground

#1362 Increase memory in recommended to 16 GB
  packages/playground/src/components/caprover_worker.vue
  packages/playground/src/components/select_solution_flavor.vue
  packages/playground/src/weblets/freeflow.vue
  packages/playground/src/weblets/full_vm.vue
  packages/playground/src/weblets/micro_vm.vue
  packages/playground/src/weblets/tf_casperlabs.vue
  packages/playground/src/weblets/tf_discourse.vue
  packages/playground/src/weblets/tf_funkwhale.vue
  packages/playground/src/weblets/tf_mattermost.vue
  packages/playground/src/weblets/tf_nextcloud.vue
  packages/playground/src/weblets/tf_owncloud.vue
  packages/playground/src/weblets/tf_subsquid.vue
  packages/playground/src/weblets/tf_taiga.vue
  packages/playground/src/weblets/tf_umbrel.vue
  packages/playground/src/weblets/tf_wordpress.vue
Labels: playground

#1383 separate nework errors and storage pools errors
  packages/playground/src/components/select_node.vue
Labels: type_bug, playground

#1381 Fix duplicate contracts when deleting
  packages/playground/src/weblets/tf_contracts_list.vue
Labels: type_bug, playground

#1376 [Dedicated nodes] add switch to filter only nodes with GPU
  packages/playground/src/portal/components/dedicated_nodes_table.vue
Labels: playground

#1386 handle delete deployment errors
  packages/playground/src/weblets/tf_deployment_list.vue
Labels: playground

#1391 Total Cost of contracts per hour and month
  packages/playground/src/utils/contracts.ts
  packages/playground/src/weblets/tf_contracts_list.vue
Labels: type_feature, playground

#1380 Support hex based seed
  packages/dashboard/src/components/TfChainConnector.vue
  packages/grid_client/package.json
  packages/grid_client/src/client.ts
  packages/grid_client/src/helpers/index.ts
  packages/grid_client/src/helpers/migration.ts
  packages/grid_client/src/helpers/utils.ts
  packages/grid_client/src/modules/tfchain.ts
  packages/grid_client/src/zos/deployment.ts
  packages/playground/src/utils/grid.ts
  packages/playground/src/weblets/profile_manager.vue
  packages/rmb_direct_client/lib/client.ts
  packages/rmb_direct_client/lib/sign.ts
Labels: type_feature, grid_client, rmb_direct_client

#1404 Fix k8s and caprover managing workers
  packages/grid_client/src/storage/tfkvstore.ts
  packages/playground/public/config.js
  packages/playground/scripts/build-env.sh
  packages/playground/src/components/manage_caprover_worker_dialog.vue
  packages/playground/src/components/manage_k8s_worker_dialog.vue
  packages/playground/src/global-components.d.ts
  packages/playground/src/utils/load_deployment.ts
  packages/playground/src/utils/migration.ts
  packages/playground/vite.config.ts
Labels: type_bug, playground

#1402 fix ttl creation in rmb rmb client
  packages/rmb_direct_client/lib/client.ts
Labels: rmb_direct_client

#1349 Add back button to solutions page
  packages/playground/src/App.vue
  packages/playground/src/router/index.ts
Labels: type_feature, playground

#1416 Fix projectName in deleting workers for k8s/caprover
  packages/playground/src/components/manage_caprover_worker_dialog.vue
  packages/playground/src/components/manage_k8s_worker_dialog.vue
  packages/playground/src/utils/deploy_k8s.ts
  packages/playground/src/utils/deploy_vm.ts
  packages/playground/src/utils/load_deployment.ts
  packages/playground/src/weblets/tf_deployment_list.vue
Labels: type_bug

#1370 available farms randomization
  packages/grid_client/src/helpers/requests.ts
  packages/grid_client/src/modules/capacity.ts
  packages/grid_client/src/modules/models.ts
  packages/grid_client/src/primitives/nodes.ts
  packages/playground/src/components/select_farm.vue
  packages/playground/src/utils/get_farms.ts
Labels: grid_client, playground

#1348 fix sorting
  packages/playground/src/components/k8s_deployment_table.vue
  packages/playground/src/components/manage_gateway_dialog.vue
  packages/playground/src/components/vm_deployment_table.vue
Labels: type_bug, playground

#1154 Add portal/farms
  packages/grid_client/src/modules/farms.ts
  packages/grid_client/src/modules/models.ts
  packages/grid_client/src/modules/nodes.ts
  packages/playground/package.json
  packages/playground/src/App.vue
  packages/playground/src/components/dashboard/portal/NodeMintingDetails.vue
  packages/playground/src/components/dashboard/portal/add_ip.vue
  packages/playground/src/components/dashboard/portal/create_farm.vue
  packages/playground/src/components/dashboard/portal/public_config.vue
  packages/playground/src/components/dashboard/portal/public_ips_table.vue
  packages/playground/src/components/dashboard/portal/set_extra_fee.vue
  packages/playground/src/components/dashboard/portal/user_farms.vue
  packages/playground/src/components/dashboard/portal/user_nodes.vue
  packages/playground/src/explorer/components/node_details.vue
  packages/playground/src/global.css
  packages/playground/src/main.ts
  packages/playground/src/portal/farms_view.vue
  packages/playground/src/router/index.ts
  packages/playground/src/stores/grid.ts
  packages/playground/src/stores/index.ts
  packages/playground/src/stores/profile_manager.ts
  packages/playground/src/utils/mintings.ts
  packages/playground/src/utils/node.ts
  packages/playground/src/utils/types.ts
  packages/tfchain_client/src/client.ts
  packages/tfchain_client/src/farms.ts
  packages/tfchain_client/src/nodes.ts
Labels: dashboard

#1346 Development 313 login UI color
  packages/playground/src/components/deposit_dialog.vue
  packages/playground/src/components/dynamic_tabs.vue
  packages/playground/src/components/weblet_layout.vue
  packages/playground/src/explorer/components/node_details.vue
  packages/playground/src/explorer/views/nodes.vue
  packages/playground/src/portal/dedicated_nodes_view.vue
  packages/playground/src/weblets/profile_manager.vue
Labels: playground

#1258 add ping node utils and update tests
  .github/workflows/grid_client_tests.yml
  packages/grid_client/tests/modules/contracts.test.ts
  packages/grid_client/tests/modules/gateways.test.ts
  packages/grid_client/tests/modules/kubernetes.test.ts
  packages/grid_client/tests/modules/qsfs.test.ts
  packages/grid_client/tests/modules/vm.test.ts
  packages/grid_client/tests/modules/zdb.test.ts
  packages/grid_client/tests/utils.ts
Labels: grid_client

#1392 handle loading contracts error
  packages/playground/src/weblets/tf_contracts_list.vue
Labels: playground

#1257 Add deployments store path arch decision
  packages/grid_client/docs/architecture/decisions/support_hex_based_seed.md
  packages/grid_client/docs/architecture/decisions/update_deployments_store_path.md
  packages/playground/docs/decisions/update_deployments_store_path.md
Labels: playground

#1435 Adding a new card for dedicated nodes
  packages/new_stats/src/components/stats_table.vue
  packages/new_stats/src/utils/stats.ts
  packages/playground/src/explorer/stats.vue
Labels: type_feature, stats, playground

#1409 updating scripts structure
  packages/grid_client/scripts/add_node_to_network.ts
  packages/grid_client/scripts/add_worker.ts
  packages/grid_client/scripts/algorand.ts
  packages/grid_client/scripts/blockchain.ts
  packages/grid_client/scripts/calculator.ts
  packages/grid_client/scripts/caprover_leader.ts
  packages/grid_client/scripts/caprover_worker.ts
  packages/grid_client/scripts/checkNodeAlive.ts
  packages/grid_client/scripts/create_account.ts
  packages/grid_client/scripts/delete_all_contracts.ts
  packages/grid_client/scripts/dynamic_single_vm.ts
  packages/grid_client/scripts/extraFees.ts
  packages/grid_client/scripts/farmerbot.ts
  packages/grid_client/scripts/fqdn_gateway.ts
  packages/grid_client/scripts/get_dao_proposals.ts
  packages/grid_client/scripts/get_deletion_time.ts
  packages/grid_client/scripts/get_network_config.ts
  packages/grid_client/scripts/kubernetes.ts
  packages/grid_client/scripts/kubernetes_with_qsfs.ts
  packages/grid_client/scripts/kvstore_example.ts
  packages/grid_client/scripts/list_all_contracts.ts
  packages/grid_client/scripts/multiple_vms.ts
  packages/grid_client/scripts/name_gateway.ts
  packages/grid_client/scripts/renting.ts
  packages/grid_client/scripts/set_node_power.ts
  packages/grid_client/scripts/single_vm.ts
  packages/grid_client/scripts/stellar.ts
  packages/grid_client/scripts/test_node_filters.ts
  packages/grid_client/scripts/tfchain/create_account.ts
  packages/grid_client/scripts/tfchain/get_account.ts
  packages/grid_client/scripts/tfchain/get_balance_by_address.ts
  packages/grid_client/scripts/tfchain/get_balance_by_name.ts
  packages/grid_client/scripts/tfchain/import.ts
  packages/grid_client/scripts/tfchain/transfer.ts
  packages/grid_client/scripts/tfchain/vote_dao_proposal.ts
  packages/grid_client/scripts/update_twin.ts
  packages/grid_client/scripts/vm_with_gpu.ts
  packages/grid_client/scripts/vm_with_qsfs.ts
  packages/grid_client/scripts/wireguard_vm.ts
  packages/grid_client/scripts/zdb.ts
  packages/grid_client/scripts/zos_rmb_requests.ts
Labels: type_feature, grid_client

#1366 Adding a certified chip and loading all nodes regardless of filters a…
  packages/playground/src/components/select_node.vue
  packages/playground/src/components/weblet_layout.vue
  packages/playground/src/utils/filter_nodes.ts
  packages/playground/src/weblets/freeflow.vue
  packages/playground/src/weblets/full_vm.vue
  packages/playground/src/weblets/micro_vm.vue
  packages/playground/src/weblets/tf_algorand.vue
  packages/playground/src/weblets/tf_caprover.vue
  packages/playground/src/weblets/tf_casperlabs.vue
  packages/playground/src/weblets/tf_discourse.vue
  packages/playground/src/weblets/tf_funkwhale.vue
  packages/playground/src/weblets/tf_kubernetes.vue
  packages/playground/src/weblets/tf_mattermost.vue
  packages/playground/src/weblets/tf_nextcloud.vue
  packages/playground/src/weblets/tf_node_pilot.vue
  packages/playground/src/weblets/tf_owncloud.vue
  packages/playground/src/weblets/tf_peertube.vue
  packages/playground/src/weblets/tf_presearch.vue
  packages/playground/src/weblets/tf_subsquid.vue
  packages/playground/src/weblets/tf_taiga.vue
  packages/playground/src/weblets/tf_umbrel.vue
  packages/playground/src/weblets/tf_wordpress.vue
Labels: type_feature, playground

#1240 explorer farms
  packages/playground/src/components/filter.vue
  packages/playground/src/components/select_farm.vue
  packages/playground/src/config.ts
  packages/playground/src/explorer/components/farm_dialog.vue
  packages/playground/src/explorer/components/node_details_cards/card_details.vue
  packages/playground/src/explorer/components/node_details_cards/farm_details_card.vue
  packages/playground/src/explorer/components/node_details_cards/twin_details_card.vue
  packages/playground/src/explorer/utils/helpers.ts
  packages/playground/src/explorer/utils/types.ts
  packages/playground/src/explorer/views/farms.vue
  packages/playground/src/explorer/views/nodes.vue
  packages/playground/src/global-components.d.ts
  packages/playground/src/portal/components/dedicated_nodes_table.vue
  packages/playground/src/router/index.ts
  packages/playground/src/types/index.ts
  packages/playground/src/utils/filter_farms.ts
  packages/playground/src/utils/filter_nodes.ts
  packages/playground/src/utils/get_farms.ts
Labels: type_feature, playground

#1465 Handle custom network in dashboard
  packages/dashboard/scripts/build-env.sh
  packages/dashboard/src/utils/grid.ts
  packages/grid_client/src/client.ts
  packages/playground/scripts/build-env.sh
  packages/playground/src/utils/grid.ts
  packages/playground/src/weblets/profile_manager.vue
Labels: dashboard

#1540 [Domain Name] add machine name to prefix
  packages/grid_client/src/modules/models.ts
  packages/playground/src/components/manage_gateway_dialog.vue
Labels: playground

#1541 Development publish UI package
  packages/UI/.env
  packages/UI/docs/pdf_viewer.md
  packages/UI/docs/script_editor.md
  packages/UI/examples/server-example/nodejs-server/README.md
  packages/UI/examples/server-example/nodejs-server/package.json
  packages/UI/examples/server-example/nodejs-server/src/server.ts
  packages/UI/examples/server-example/nodejs-server/tsconfig.json
  packages/UI/examples/server-example/nodejs-server/yarn.lock
  packages/UI/examples/server-example/vlang-server/local_server/handlers.v
  packages/UI/examples/server-example/vlang-server/local_server/server.v
  packages/UI/examples/server-example/vlang-server/local_server/utils.v
  packages/UI/examples/server-example/vlang-server/main.v
  packages/UI/package.json
  packages/UI/src/components/PDFSignerViewComponent.vue
  packages/UI/src/modules.d.ts
Labels: documentation, UI
