Repository threefoldtech/tfgrid-sdk-ts, pull requests merged in 2023-06, with the labels that each got.

#448 dashboard enhance side bar
  packages/dashboard/src/Dashboard.vue
Labels: dashboard

#494 add wireguard example script
  packages/grid_client/scripts/wireguard_vm.ts
Labels: grid_client

#503 Sync display data on dedicated nodes table with node explorer
  packages/dashboard/src/explorer/views/Nodes.vue
  packages/dashboard/src/portal/components/NodesTable.vue
  packages/dashboard/src/portal/lib/nodes.ts
Labels: dashboard

#507 remove unnecessary prop in NodeDetails
  packages/dashboard/src/portal/components/NodeDetails.vue
  packages/dashboard/src/portal/components/NodesTable.vue
Labels: dashboard

#455 add ssh validator
  packages/playground/src/components/expandable_layout.vue
  packages/playground/src/components/manage_caprover_worker_dialog.vue
  packages/playground/src/components/weblet_layout.vue
  packages/playground/src/weblets/full_vm.vue
  packages/playground/src/weblets/micro_vm.vue
  packages/playground/src/weblets/profile_manager.vue
  packages/playground/src/weblets/tf_algorand.vue
  packages/playground/src/weblets/tf_caprover.vue
  packages/playground/src/weblets/tf_casperlabs.vue
  packages/playground/src/weblets/tf_discourse.vue
  packages/playground/src/weblets/tf_funkwhale.vue
  packages/playground/src/weblets/tf_kubernetes.vue
  packages/playground/src/weblets/tf_mattermost.vue
  packages/playground/src/weblets/tf_node_pilot.vue
  packages/playground/src/weblets/tf_owncloud.vue
  packages/playground/src/weblets/tf_peertube.vue
  packages/playground/src/weblets/tf_presearch.vue
  packages/playground/src/weblets/tf_subsquid.vue
  packages/playground/src/weblets/tf_taiga.vue
  packages/playground/src/weblets/tf_umbrel.vue
  packages/playground/src/weblets/tf_wordpress.vue
Labels: playground

#514 explorer: remove unnecessary calls on destroy nodeFilter
  packages/dashboard/src/explorer/components/NodeFilter.vue
Labels: dashboard

#543 rephrase picking node log message
  packages/playground/src/utils/deploy_vm.ts
Labels: playground

#599 change contracts list doc link
  packages/playground/src/weblets/tf_contracts_list.vue
Labels: playground

#604 change deployment list titles
  packages/playground/docs/contributing.md
  packages/playground/src/views/algorand_view.vue
  packages/playground/src/views/caprover_view.vue
  packages/playground/src/views/casperlabs_view.vue
  packages/playground/src/views/discourse_view.vue
  packages/playground/src/views/full_virtual_machine.vue
  packages/playground/src/views/funkwhale_view.vue
  packages/playground/src/views/kubernetes_view.vue
  packages/playground/src/views/mattermost_view.vue
  packages/playground/src/views/micro_virtual_machine.vue
  packages/playground/src/views/node_pilot.vue
  packages/playground/src/views/owncloud_view.vue
  packages/playground/src/views/peertube_view.vue
  packages/playground/src/views/presearch_view.vue
  packages/playground/src/views/subsquid_view.vue
  packages/playground/src/views/taiga_view.vue
  packages/playground/src/views/umbrel_view.vue
  packages/playground/src/views/wordpress_view.vue
  packages/playground/src/weblets/tf_deployment_list.vue
Labels: playground

#624 Make calculator more clear to user with some tooltips
  packages/dashboard/src/calculator/views/Calculator.vue
Labels: dashboard

#649 dashboard: handle click outside deposit dialog
  packages/dashboard/src/portal/components/DepositDialog.vue
Labels: dashboard

#680 add dao result as accepted or rejected
  packages/dashboard/src/portal/views/Dao.vue
Labels: dashboard

#683 dashboard: Deposit dialog handle close
  packages/dashboard/src/portal/components/DepositDialog.vue
Labels: dashboard

#678 update capacity when selecting a different node type, or network
  packages/playground/src/components/algorand_capacity.vue
Labels: playground

#700 Fix creating account in the dashboard
  packages/dashboard/src/portal/views/Account.vue
Labels: dashboard

#725 Enhance GPU section in explorer
  packages/dashboard/src/explorer/components/DetailsV2.vue
  packages/dashboard/src/explorer/components/GPUDetails.vue
Labels: dashboard

#728 update discount level docs link
  packages/dashboard/src/portal/components/NodesTable.vue
Labels: dashboard
