Repository threefoldtech/tfgrid-sdk-ts, pull requests merged in 2024-02, with the labels that each got.

#2135 remove the combobox for bridge selection since there's only one option to select from
  packages/playground/src/dashboard/bridge_view.vue
Labels: dashboard, enhancements

#2184 Update stats Image and Chart values
  packages/new_stats/chart/values.yaml
  packages/new_stats/nginx/njs/stats.js
Labels: stats

#2204 fix k8s deployment list
  packages/playground/src/components/k8s_deployment_table.vue
Labels: dashboard

#2201 Use stats summary on grid capacity cards
  packages/new_stats/nginx/conf.d/default.conf
  packages/playground/public/config.js
  packages/playground/scripts/build-env.sh
  packages/playground/src/components/connect_wallet_landing.vue
  packages/playground/src/components/logged_in_landing.vue
  packages/playground/src/global-components.d.ts
  packages/playground/src/stores/stats.ts
Labels: dashboard

#2253 Improve stats requests and error handling
  packages/new_stats/src/components/network_filter.vue
  packages/new_stats/src/components/stats_table.vue
  packages/new_stats/src/utils/stats.ts
Labels: stats

#2290 set addAccess to true on caprover machines
  packages/playground/src/weblets/tf_caprover.vue
Labels: dashboard
