Repository threefoldtech/tfgrid-sdk-ts, pull requests merged in 2024-01, with the labels that each got.

#1833 [Explorer] show health btn in all node status
  packages/playground/src/components/node_resources_charts.vue
Labels: playground

#1842 [Transfer] reset transfer amount field
  packages/playground/src/dashboard/transfer_view.vue
Labels: playground

#1865 include standby nodes
  packages/new_stats/src/utils/stats.ts
  packages/playground/src/views/stats.vue
Labels: stats, playground

#1886 Enhance transfer logic and UX
  packages/playground/src/components/profile_manager_controller.vue
  packages/playground/src/dashboard/transfer_view.vue
  packages/playground/src/weblets/profile_manager.vue
Labels: dashboard

#1933 Throw an error in case of tfchain client can't connect
  packages/tfchain_client/src/client.ts
Labels: playground, tfchain_client

#1949 Enhancement: Expand the row on click instead of clicking on the icon.
  packages/playground/src/dashboard/components/dedicated_nodes_table.vue
Labels: playground, enhancements

#1877 Improved the filtering functionality by consolidating filter options within the same form
  packages/gridproxy_client/src/builders/nodes.ts
  packages/gridproxy_client/src/modules/gateways.ts
  packages/playground/src/components/filter.vue
  packages/playground/src/dashboard/components/dedicated_nodes_table.vue
  packages/playground/src/dashboard/dedicated_nodes_view.vue
  packages/playground/src/types/index.ts
  packages/playground/src/utils/filter_nodes.ts
  packages/playground/src/utils/get_nodes.ts
  packages/playground/src/views/farms.vue
  packages/playground/src/views/nodes.vue
Labels: playground, enhancements

#1976 rename field to hex seed if a hex seed is entered
  packages/playground/src/weblets/profile_manager.vue
Labels: type_feature, playground

#2030 Enhance Deposit dialog UI and add more informative components
  packages/playground/src/components/deposit_dialog.vue
Labels: playground

#2052 Fix: Adding and Removing public config take long time to reflect.
  packages/playground/src/dashboard/components/public_config.vue
  packages/playground/src/dashboard/components/user_nodes.vue
  packages/tfchain_client/src/nodes.ts
Labels: dashboard, enhancements
