Repository threefoldtech/tfgrid-sdk-ts, pull requests merged in 2024-08, with the labels that each got.

#3216 Add cancel all contracts button
  packages/playground/src/weblets/tf_contracts_list.vue
Labels: dashboard

#3207 Implement TFChainError in chain client
  packages/grid_client/src/high_level/twinDeploymentHandler.ts
  packages/grid_client/src/modules/nodes.ts
  packages/grid_client/src/modules/tfchain.ts
  packages/grid_client/src/primitives/nodes.ts
  packages/playground/src/components/contracts_list/contracts_table.vue
  packages/playground/src/dashboard/components/add_ip.vue
  packages/playground/src/dashboard/components/set_extra_fee.vue
  packages/tfchain_client/README.md
  packages/tfchain_client/src/client.ts
  packages/tfchain_client/src/contracts.ts
  packages/tfchain_client/src/errors.ts
  packages/tfchain_client/src/index.ts
  packages/types/src/errors/index.ts
  packages/types/src/errors/readme.md
  packages/types/src/errors/tfchain/dao.ts
  packages/types/src/errors/tfchain/index.ts
  packages/types/src/errors/tfchain/kvstore.ts
  packages/types/src/errors/tfchain/smart_contract.ts
  packages/types/src/errors/tfchain/tfchain_error.ts
  packages/types/src/errors/tfchain/tfgrid.ts
  packages/types/src/errors/tfchain/tft_bridge.ts
  packages/types/src/errors/tfchain/tft_price.ts
Labels: tfchain_client

#3200 Support multiple stacks per network in gird client
  packages/grid_client/src/client.ts
  packages/grid_client/src/manageURLs.ts
Labels: grid_client
