Repository threefoldtech/tfgrid-sdk-ts, pull requests merged in 2024-10, with the labels that each got.

#3486 Update k8s flist
  packages/grid_client/src/high_level/kubernetes.ts
Labels: grid_client

#3496 Development fix vm k8s tests repreated name issue
  packages/grid_client/tests/modules/kubernetes.test.ts
  packages/grid_client/tests/modules/vm.test.ts
Labels: grid_client

#3490 Fix: billing rate on first billing cycle
  packages/grid_client/src/clients/tf-grid/contracts.ts
Labels: grid_client

#3516 Update application tests with Mycelium
  packages/grid_client/tests/modules/applications/algorand.test.ts
  packages/grid_client/tests/modules/applications/casperlabs.test.ts
  packages/grid_client/tests/modules/applications/discourse.test.ts
  packages/grid_client/tests/modules/applications/funkwhale.test.ts
  packages/grid_client/tests/modules/applications/mattermost.test.ts
  packages/grid_client/tests/modules/applications/nextcloud.test.ts
  packages/grid_client/tests/modules/applications/nodepilot.test.ts
  packages/grid_client/tests/modules/applications/peertube.test.ts
  packages/grid_client/tests/modules/applications/presearch.test.ts
  packages/grid_client/tests/modules/applications/subsquid.test.ts
  packages/grid_client/tests/modules/applications/taiga.test.ts
  packages/grid_client/tests/modules/applications/umbrel.test.ts
  packages/grid_client/tests/modules/applications/wordpress.test.ts
Labels: grid_client

#3512 Development update tests scripts to have mycelium
  .github/workflows/grid_client_tests.yml
  packages/grid_client/tests/README.md
  packages/grid_client/tests/modules/kubernetes.test.ts
  packages/grid_client/tests/modules/qsfs.test.ts
  packages/grid_client/tests/modules/vm.test.ts
Labels: grid_client

#3363 Fix: CapRover Dashboard App: Details of Workers disappear after few seconds
  packages/playground/src/components/deployment_data_dialog.vue
  packages/playground/src/components/manage_caprover_worker_dialog.vue
  packages/playground/src/components/vm_deployment_table.vue
  packages/playground/src/utils/deploy_helpers.ts
  packages/playground/src/weblets/tf_deployment_list.vue
  yarn.lock
Labels: playground

#3489 ` chain 2.9 release` update chain types
  packages/tfchain_client/chainMeta.json
  packages/tfchain_client/src/interfaces/chain/augment-api-consts.ts
  packages/tfchain_client/src/interfaces/chain/augment-api-errors.ts
  packages/tfchain_client/src/interfaces/chain/augment-api-events.ts
  packages/tfchain_client/src/interfaces/chain/augment-api-query.ts
  packages/tfchain_client/src/interfaces/chain/lookup.ts
  packages/tfchain_client/src/interfaces/chain/registry.ts
  packages/tfchain_client/src/interfaces/chain/types-lookup.ts
Labels: tfchain_client

#3552 add `IsAlphanumericExpectUnderscore` to k8s modules and caprover,
  packages/grid_client/src/modules/models.ts
  packages/playground/src/components/k8s_worker.vue
Labels: grid_client, dashboard

#3543 Fix deployment list
  packages/playground/src/components/manage_caprover_worker_dialog.vue
  packages/playground/src/components/vm_deployment_table.vue
  packages/playground/src/utils/deploy_helpers.ts
  packages/playground/src/weblets/tf_deployment_list.vue
Labels: dashboard
